body {
    font-family: helvetica,sans-serif;
    font-size: 80%;
}

#caption {
    padding-left: 0;
    margin-left:  0;
    background-color: #aaa;
    color: #333;
    font-weight: bold;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 125%;
    letter-spacing: 2;
}

#container, #terminal_canvas {
    margin-left: 0;
    padding: 0;
    /*width: 50em;*/

    background-color: black;
    font-family: monaco, consolas, lucida console, monospace;
    font-size: 80%;
    border: solid 10px #aaa;
    border-top: 0;
}

#notice {
    color: #b00;
    font-weight: bold;
}

.legend {
    color: black;
    background-color: white;
}

ul.nav {
    margin: 0;
    padding: 0;
}

