body {
    font-family: helvetica,sans-serif;
    font-size: 80%;
    background: url('/static/images/termcast_gradient.png');
    background-repeat: repeat-x;
    background-color: #ffe;
}

a:link {
    color: #006;
    text-decoration: none;
}

a:visited {
    color: #00b;
    text-decoration: none;
}

a:hover {
    color: #00b;
    text-decoration: underline;
}

.container h1 {
    background-color: #eef;
    border: solid 4px #55b;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    padding: 4px 12px;
    color: black;
    width: 60%;
}

#caption {
    padding-left: 0;
    margin-left:  0;
    background-color: #aaa;
    font-weight: bold;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 125%;
    letter-spacing: 2;
}

#container {
    margin-left: 0;
    padding: 0;
    width: 50em;

    background-color: black;
    font-family: monaco, consolas, lucida console, monospace;
    font-size: 80%;
    border: solid 10px #aaa;
    border-top: 0;
}

.legend {
    color: black;
    background-color: white;
}

ul.nav {
    margin: 0;
    padding: 0;
}

hr {
    border: dashed 1px #ca8;
}

