<h1>About Termcast</h1>
<hr class="titlerule" /><br />
<p>
This web application connects to a
<a href="https://github.com/jasonmay/app-termcast-server">standalone termcast server</a>.

It uses some HTML5 features (WebSockets, Canvas) on the front-end and PSGI (<a href="http://twiggy.plackperl.org/">Twiggy</a>, <a href="https://github.com/stevan/OX">OX</a>, <a href="https://metacpan.org/module/Web::Hippie">Web::Hippie</a>) on the back-end.
</p>
<p>
I've given a few demonstrations and talks on Termcast. You can see some of them here:
</p>
<ul>
<li><a href="http://www.slideshare.net/jarsonmar/broadcast-your-programming">YAPC::NA 2011 Presentation on Termcast</a></li>
<li><a href="http://jarsonmar.blogspot.com/2011/03/termcast-on-web.html">Blog post: Termcast on the Web</a></li>
</ul>
<h2>Streaming Instructions</h2>
    <pre class="snippet">cpanm App::Termcast
termcast --host jarsonmar.org</pre>

<h2>The Source Code</h2>

<ul>
<li><a href="https://github.com/jasonmay/app-termcast-server">Standalone termcast server</a></li>
<li><a href="https://github.com/jasonmay/app-termcast-server-web">Web termcast component</a></li>
</ul>

<h2>See a problem?</h2>
<p>
    Report it <a href="https://github.com/jasonmay/app-termcast-server-web/issues">here</a>!
</p>
