<html>
<head>
<title>Termcast</title>
<link href="static/styles/viewer.css" media="screen" rel="stylesheet" type="text/css" />
<script src="static/js/jquery-1.4.1.js"></script>
</head>
<body>
<img src="../static/images/termcast_logo_web.png" width="265" height="120" alt="termcast logo" />
<hr />
[% IF stream_data.keys.size > 0 %]
<p>The following sessions are in progress:</p>
<ul>
[% FOREACH stream_id = stream_data.keys %]
<li><a href="view/[% stream_id %]">[% stream_data.$stream_id.user %]</a></li>
[% END %]
</ul>
[% ELSE %]
Nobody is streaming at this time.
[% END %]
</body>
</html>
