<html>
<head>
<title>Termcast</title>
<link href="static/styles/viewer.css" media="screen" rel="stylesheet" type="text/css" />
<script src="static/js/jquery-1.4.1.js"></script>
</head>
<body>
<img src="../static/images/termcast_logo_web.png" width="265" height="120" alt="termcast logo" />
<hr />
[% IF connections.streams.keys.size %]
<p>The following sessions are in progress:</p>
<ul>
[% FOREACH fd = connections.streams.keys %]
<li><a href="tv/[% connections.streams.$fd.id %]">[% connections.streams.$fd.username %]</a></li>
[% END %]
</ul>
[% ELSE %]
Nobody is streaming at this time.
[% END %]
</body>
</html>
