<html>
<head>
<title>Termcast</title>
<link href="../static/styles/main.css" media="screen" rel="stylesheet" type="text/css" />
<link href="../static/styles/viewer.css" media="screen" rel="stylesheet" type="text/css" />
<script src="../static/js/jquery-1.4.1.js"></script>
<script type="text/javascript" src="../static/js/stream.js"> </script>
<script type="text/javascript">
// <!--
start_stream('[% stream_id %]');
// -->
</script>
</head>
<body>
<h1>Web Termcast Viewer</h1>
<div id="container"> </div>
</body>
</html>

