<html>
<head>
<title>Termcast</title>
<link href="../static/styles/main.css" media="screen" rel="stylesheet" type="text/css" />
<link href="../static/styles/viewer.css" media="screen" rel="stylesheet" type="text/css" />
<script src="../static/js/jquery-1.4.1.js"></script>
<script type="text/javascript" src="../static/js/stream.js"> </script>
<script src="/jquery.ev.js"></script>
<script src="/DUI.js"></script>
<script src="/Stream.js"></script>
<script src="/hippie.js"></script>
<script src="/json2.js"></script>
<script type="text/javascript">
// <!--
$(function() {
    write_cells(80, 24);
    var pos = $('#container').offset();
    var width = $('#container').width();

    var border_width = 10;
    $('#caption').width(width + border_width * 2);

    var hippie = new Hippie(
    document.location.host, '[% stream.id %]', function() {
        console.log("hippie connected");
    },
    function() {
        console.log("hippie disconnected");
    },
    function(e) {
        termcast_cb(e);
    } );
});

// -->
</script>
</head>
<body>
<img src="../static/images/termcast_logo_web.png" width="265" height="120" alt="termcast logo" />
<ul class="nav">
    <li>
        <a href="/">Menu</a>
    </li>
</ul>
<hr />
<div id="caption">Viewing: [% stream.username %]</div>
<div id="container"> </div>
</body>
</html>

