<html>
<head>
<title>Termcast</title>
<link href="/static/styles/main.css" media="screen" rel="stylesheet" type="text/css" />
<script src="/static/js/terms.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/jquery-1.4.1.js"></script>
</head>
<body>
<div id="mainnav">
<a href="/streams">Live Streams</a> &nbsp; &nbsp; &nbsp;
<img src="/static/images/logo.png" id="logo" /> &nbsp; &nbsp; &nbsp;
<a href="/about">About Termcast</a>
</div>
<div id="content">
[% content %]
</div>
</body>
</html>
